@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  -webkit-user-select: none;
          user-select: none;
  background-color: #333;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.main-screen {
  -webkit-user-select: none;
          user-select: none;
  display: none;
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(72, 133, 72);
  font-weight: 900;
  font-size: 40px;
}

.main-screen__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-screen__grid {
  display: grid;
  gap: 20px;
  justify-items: center;
  align-items: center;
  grid-template-areas: "start-new-game start-new-game start-new-game" "level-down level level-up" "apples-down apples apples-up";
}

.main-screen__start {
  grid-area: start-new-game;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.main-screen__start:hover {
  cursor: pointer;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.main-screen__level {
  grid-area: level;
  -webkit-user-select: none;
          user-select: none;
  text-align: center;
  cursor: default;
  vertical-align: middle;
}

.main-screen__level-down {
  grid-area: level-down;
  display: inline-block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 15px 20px 15px 0;
  border-color: transparent #fff transparent transparent;
}

.main-screen__level-up {
  grid-area: level-up;
  display: inline-block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #fff;
}

.main-screen__apples {
  grid-area: apples;
  -webkit-user-select: none;
          user-select: none;
  vertical-align: middle;
  cursor: default;
}

.main-screen__apples-down {
  grid-area: apples-down;
  display: inline-block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 15px 20px 15px 0;
  border-color: transparent #fff transparent transparent;
}

.main-screen__apples-up {
  grid-area: apples-up;
  display: inline-block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #fff;
}

.score-board {
  display: flex;
  justify-content: end;
  font-size: 30px;
  letter-spacing: 2px;
}

.playfield {
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.snake-tale {
  background-color: rgb(0, 42, 16);
}
.snake-tale:last-child {
  background-color: green;
}

.snake-head {
  background-image: url("../../image/snake-head.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.snake-head.right {
  transform: rotate(0deg);
}

.snake-head.down {
  transform: rotate(90deg);
}

.snake-head.left {
  transform: rotate(180deg) scaleY(-1);
}

.snake-head.up {
  transform: rotate(270deg);
}

.apple {
  background-image: url("../../image/apple.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.cursor-coords {
  display: none;
}
.cursor-coords .cursor-coords__container {
  position: fixed;
  background-color: #fff;
  width: 80px;
  height: 40px;
  margin: 15px;
  padding: 10px;
  top: 0;
  left: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.pause-screen {
  display: none;
  text-transform: uppercase;
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.3);
  top: 0;
  left: 0;
}
.pause-screen .pause-screen__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pause-screen .pause-screen__container .pause-screen__title {
  font-size: 40px;
  font-weight: 900;
  display: block;
  margin: 0 0 15px 0;
}
.pause-screen .pause-screen__container .pause-screen__resume {
  font-size: 30px;
  margin: 0 0 15px 0;
}
.pause-screen .pause-screen__container .pause-screen__resume:hover {
  cursor: pointer;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}
.pause-screen .pause-screen__container .pause-screen__go-menu {
  font-size: 30px;
}
.pause-screen .pause-screen__container .pause-screen__go-menu:hover {
  cursor: pointer;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.death-screen {
  display: none;
  text-transform: uppercase;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 50, 50);
}
.death-screen .death-screen__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.death-screen .death-screen__container .death-screen__title {
  font-size: 40px;
  font-weight: 900;
  margin: 0 0 15px 0;
}
.death-screen .death-screen__container .score {
  font-size: 30px;
  font-weight: 900;
  margin: 0 0 40px 0;
}
.death-screen .death-screen__container .death-screen__retry {
  font-size: 30px;
  margin: 0 0 15px 0;
}
.death-screen .death-screen__container .death-screen__retry:hover {
  cursor: pointer;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}
.death-screen .death-screen__container .death-screen__go-menu {
  font-size: 30px;
}
.death-screen .death-screen__container .death-screen__go-menu:hover {
  cursor: pointer;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}